In [ ]:
import pandas as pd
import pyodbc
from getpass import getpass, getuser

In [ ]:
#*Establish Database Connections*

In [ ]:
# SQL DB Connection ----
mentity_engine = pyodbc.connect('DRIVER={SQL SERVER}; SERVER=OPSREPORT02.UHAUL.AMERCO.ORG;DATABASE=MEntity;UID=1217543;PWD=Noe543N')

# Create connections to individual tables ----
mentity_sap = pd.read_sql_query("SELECT * FROM MENTITY_SAP", mentity_engine)

In [ ]:
#Step 1: Import Previous Acquisitions List ----
existing_list = pd.read_csv("Z://group/MIA/Noe/Projects/Same Store & Cap Ex/Report/Quarterly Acquisitions/Master List.csv")
  existing_mentity = existing_list["MEntity"] #Extract MEntity column
    existing_mentity.nunique()
    # 311 Unique MEntity Numbers
    
    print()